<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Messageboard</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/new">Create New Message</a>
    </p>
    <div>
      <hr />
      <% messages.map((msg) => { %>
      <p>message ID: <%= msg.id %></p>
      <p>Posted: <%= msg.added %></p>
      <a href="/message/<%= msg.id%>">Open Message</a>
      <hr />
      <% }) %>
    </div>
  </body>
</html>
